


/*===========================
        04.BRAND css 
===========================*/

.about-area{
    position: relative;
}

.about-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding-right: 40px;
    
    @media #{$md}{
        position: relative;
        width: 720px;
        right: 0;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media #{$xs}{
        position: relative;
        width: 100%;
        right: 0;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media #{$sm}{
        width: 540px;
    }
}


.about-content{
    padding-top: 160px;
    padding-bottom: 160px;
    
    @media #{$lg}{
        padding-top: 0;
        padding-bottom: 0;
    }
    @media #{$md}{
        padding-top: 0;
        padding-bottom: 0;
        padding-top: 45px;
    }
    @media #{$xs}{
        padding-top: 0;
        padding-bottom: 0;
        padding-top: 45px;
    }
    
    & .text{
        margin-top: 40px;
    }
    & .main-btn{
        margin-top: 35px;
    }
}





