// Font Family
$font-1: 'Open Sans', sans-serif;
$font-2: 'Montserrat', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$gray: #F9FBFE;


// Theme Color
$theme-color: #FE8464;


//Body Color
$body-color: #646F87;


// Border Color
$border-color: #646F87;


// Heading Color
$heading-color: #293651;


// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


